Repository frgfm/Holocron, changes with the labels that .github/labeler.yml gives for each.
All labels: module: models, module: nn, module: ops, module: optim, module: trainer, module: transforms, module: utils, ext: api, ext: demo, ext: docs, ext: references, ext: scripts, ext: tests, ext: ci, topic: docs, func: build, topic: style

ci(deps): add deps sync script
  .github/verify_deps_sync.py
Labels: ext: ci

ci(github): update build job
  .github/workflows/build.yml
Labels: none

ci(github): cleaned CI workflows
  .github/workflows/build.yml
  .github/workflows/demo.yml
  .github/workflows/docs.yaml
  .github/workflows/page-build.yml
  .github/workflows/pr-merged.yml
  .github/workflows/pull_requests.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .github/workflows/triage.yml
Labels: none

style(precommit): update precommit config
  .pre-commit-config.yaml
Labels: topic: style

docs(makefile): update commands
  Makefile
  pyproject.toml
Labels: topic: docs, func: build

build(docker): update docker orchestration
  api/Dockerfile
  api/app/main.py
  api/docker-compose.yml
Labels: ext: api, func: build

build(pyproject): update metadata
  api/pyproject.toml
  pyproject.toml
Labels: ext: api, func: build

build(lock): switch to uv
  api/poetry.lock
  api/uv.lock
Labels: ext: api, func: build

style: fix lint
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/verify_deps_sync.py
  .github/verify_labels.py
  .github/workflows/build.yml
  Makefile
  demo/app.py
  docs/source/conf.py
  holocron/models/classification/convnext.py
  holocron/models/classification/darknet.py
  holocron/models/classification/darknetv2.py
  holocron/models/classification/darknetv3.py
  holocron/models/classification/darknetv4.py
  holocron/models/classification/mobileone.py
  holocron/models/classification/repvgg.py
  holocron/models/classification/resnet.py
  holocron/models/classification/rexnet.py
  holocron/models/classification/tridentnet.py
  holocron/models/detection/yolov4.py
  holocron/models/segmentation/unet.py
  holocron/models/segmentation/unet3p.py
  holocron/models/segmentation/unetpp.py
  holocron/nn/modules/conv.py
  holocron/optim/wrapper.py
  holocron/trainer/classification.py
  holocron/trainer/core.py
  holocron/trainer/detection.py
  references/classification/train.py
  references/detection/train.py
  references/segmentation/train.py
  tests/test_models.py
  tests/test_models_detection.py
  tests/test_trainer.py
Labels: module: optim, module: trainer, ext: demo, ext: tests, ext: ci, topic: docs

style(typing): fix mypy errors
  holocron/optim/adabelief.py
  holocron/optim/adamp.py
  holocron/optim/adan.py
  holocron/optim/ademamix.py
  holocron/optim/wrapper.py
  holocron/trainer/core.py
Labels: module: optim, module: trainer

style(ruff): fix lint
  holocron/models/classification/convnext.py
  holocron/models/classification/darknet.py
  holocron/models/classification/mobileone.py
  holocron/models/classification/repvgg.py
  holocron/models/classification/res2net.py
  holocron/models/classification/resnet.py
  holocron/models/classification/rexnet.py
  holocron/models/detection/yolo.py
  holocron/models/detection/yolov4.py
  holocron/models/segmentation/unet.py
  holocron/models/segmentation/unet3p.py
  holocron/models/segmentation/unetpp.py
  holocron/ops/boxes.py
  holocron/optim/adan.py
  holocron/optim/tadam.py
  holocron/trainer/classification.py
  holocron/trainer/core.py
  holocron/trainer/detection.py
  holocron/trainer/segmentation.py
  holocron/transforms/interpolation.py
  holocron/utils/misc.py
  references/classification/train.py
  references/detection/train.py
  scripts/eval_latency.py
  tests/test_models_detection.py
  tests/test_optim.py
  tests/test_optim_wrapper.py
Labels: module: ops, module: optim, module: trainer, module: transforms, module: utils, ext: scripts, ext: tests

style: fix lint
  docs/source/conf.py
  holocron/models/checkpoints.py
  holocron/models/utils.py
  pyproject.toml
  references/classification/train.py
  references/detection/train.py
  references/segmentation/train.py
Labels: module: models, func: build

docs(makefile): update docker
  Makefile
  api/Dockerfile
Labels: ext: api, topic: docs, func: build

ci(github): update CI workflow using makefile commands
  .github/workflows/build.yml
  .github/workflows/push.yml
  .github/workflows/tests.yml
Labels: none

build(api): update deps
  api/pyproject.toml
  api/uv.lock
Labels: ext: api, func: build

build(pyproject): remove legacy metadata
  api/pyproject.toml
  pyproject.toml
Labels: ext: api, func: build

docs(makefile): add missing make command
  Makefile
Labels: topic: docs

style(makefile): fix EOF
  Makefile
Labels: topic: docs

ci(github): update python version for docs and build
  .github/workflows/build.yml
  pyproject.toml
Labels: func: build

style: revert some py311 specifics
  .github/verify_deps_sync.py
  demo/app.py
  docs/source/conf.py
  holocron/models/classification/convnext.py
  holocron/models/classification/darknet.py
  holocron/models/classification/darknetv2.py
  holocron/models/classification/darknetv3.py
  holocron/models/classification/darknetv4.py
  holocron/models/classification/mobileone.py
  holocron/models/classification/repvgg.py
  holocron/models/classification/resnet.py
  holocron/models/classification/rexnet.py
  holocron/models/classification/tridentnet.py
  holocron/models/detection/yolov4.py
  holocron/models/segmentation/unet.py
  holocron/models/segmentation/unet3p.py
  holocron/models/segmentation/unetpp.py
  holocron/nn/modules/conv.py
  holocron/optim/wrapper.py
  holocron/trainer/classification.py
  holocron/trainer/core.py
  holocron/trainer/detection.py
  pyproject.toml
Labels: module: optim, module: trainer, ext: demo, ext: ci, func: build

style: format project
  holocron/models/classification/mobileone.py
  holocron/models/classification/repvgg.py
  holocron/models/segmentation/unet.py
  holocron/models/segmentation/unet3p.py
  holocron/models/segmentation/unetpp.py
  holocron/nn/modules/conv.py
Labels: none

.github/labeler.yml:

'module: models':
- changed-files:
  - any-glob-to-any-file: holocron/models/*

'module: nn':
- changed-files:
  - any-glob-to-any-file: holocron/nn/*

'module: ops':
- changed-files:
  - any-glob-to-any-file: holocron/ops/*

'module: optim':
- changed-files:
  - any-glob-to-any-file: holocron/optim/*

'module: trainer':
- changed-files:
  - any-glob-to-any-file: holocron/trainer/*

'module: transforms':
- changed-files:
  - any-glob-to-any-file: holocron/transforms/*

'module: utils':
- changed-files:
  - any-glob-to-any-file: holocron/utils/*

'ext: api':
- changed-files:
  - any-glob-to-any-file: api/*

'ext: demo':
- changed-files:
  - any-glob-to-any-file: demo/*

'ext: docs':
- changed-files:
  - any-glob-to-any-file: docs/*

'ext: references':
- changed-files:
  - any-glob-to-any-file: references/*

'ext: scripts':
- changed-files:
  - any-glob-to-any-file: scripts/*

'ext: tests':
- changed-files:
  - any-glob-to-any-file: tests/*

'ext: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md
    - Makefile
    - .env.example
    - SECURITY.md
    - notebooks/*

'func: build':
- changed-files:
  - any-glob-to-any-file:
    - setup.py
    - pyproject.toml
    - api/Dockerfile
    - api/pyproject.toml
    - api/*.lock
    - api/docker-compose.*

'topic: style':
- changed-files:
  - any-glob-to-any-file: .pre-commit-config.yaml
