Repository frgfm/Holocron, pull requests merged in 2021-02, with the labels that each got.

#117 docs: Fixed README typo
  references/classification/README.md
  references/detection/README.md
  references/segmentation/README.md
Labels: documentation

#108 Adaptative classification trainer
  holocron/trainer/core.py
  test/test_trainer.py
Labels: enhancement, module: trainer

#119 test: Refactored unittest for ClassificationTrainer
  test/test_trainer.py
Labels: module: test

#118 feat: Added trainer for binary classification
  docs/source/trainer.rst
  holocron/trainer/core.py
  test/test_trainer.py
Labels: enhancement, module: trainer
